<h1>About This Site</h1>
<br>
<h3>DankBin is a Ruby on Rails application created by a middle school programmer.
<br> The site was originally a clone of the site reddit. After learning
more about Ruby on Rails, the developer decided to add several unique features
and mechanics. The developer is still working on this application. To contact
him, use the email found in the 'contact the developer' link at the page's
footer.</h3>
