<h1>Have A Bug, Suggestion or Want to Report A Tchotch?
Use The Email Below to Message The Admin</h1>
<br>
<h3>akhanrade@gmail.com</h3>
<br>
<p>Remember, an email is not a guranteed fix to your problem. I am willing to help
  you in whatever un-orthodox way I can if you feel you need to report something.
  As for suggestions, go right ahead. I am exited to hear new ideas. Buisness
 inquiries are fine also.</p>
