<h1>DankBin Policy Standards</h1>
<br>
<p><i>The following standards must be kept for usage of this site</i></p>
<br>
<h4>
<ol>
  <li>By signing up, you agree that all of your info (except for your password) will be
  tracked by the admin.</li>
  <li>By signing up, you agree that all of your posts, comments and anything that
  you do on the site will and can be deleted or edited if it is found inapropriate
  or hurtful.</li>
  <li>The admin is able to to whatever he wants with the site.</li>
  <li>Inapropriate language, content or bullying will not be permitted.</li>
  <li>Don't do anything stupid, we will have a record of it.</li>
  <li>Please try to use your real name. This site is only available to those
  who have heard of it making it completely private.</li>
  <li>If you have read everything above, email me at akhanrade@gmail.com for
  potential evevated privilages</li>
  <li>Users who vialate the above agreements can be reported with the email above.</li>
  <li>Anything else like suggestions, bugs, etc. may also be mailed to that
  address</li>
  <li>Thank you for your time and have fun!</li>
</ol>
</h4>
